

.container{
    height: 46px;
    width: 100%;
    border-radius: 7px;
    background-color: var(--violet);
    font-weight: 500;
    color: #ffffff;
    border: 0;

    transition: all 0.2s;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.container:hover{
    filter: brightness(0.8);
    transform: scale(0.97);
    cursor: pointer;
}

.container:active{
    filter: brightness(0.7);
    transform: scale(0.92);
    cursor: default;
}